.additional-item {
  padding-left: 47px;
  padding-top: 8px;
  text-align: left;
  position: relative;

  &--left-max {
    padding-left: 52px;
  }

  &--left-min {
    padding-left: 44px;
  }
}

@media (min-width: $tablet-width) {
  .additional-item {
    padding: 158px 32px 59px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .additional-item {
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.additional-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    width: 75px;
    height: 75px;
    left: 50%;
    transform: translate(-50%);
    background-size: 100%;
  }
}

.additional-item--housing::before {
  background-image: url("../images/icons/icon-house.svg");
}

@media (min-width: $tablet-width) {
  .additional-item--housing::before {
    top: 60px;
  }
}

.additional-item--food::before {
  background-image: url("../images/icons/icon-food.svg");
}

@media (min-width: $tablet-width) {
  .additional-item--food::before {
    top: 59px;
  }
}

.additional-item--gifts::before {
  background-image: url("../images/icons/icon-gifts.svg");
}

@media (min-width: $tablet-width) {
  .additional-item--gifts::before {
    top: 57px;
  }
}

.additional-item__title {
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
}

@media (min-width: $desktop-width) {
  .additional-item__title {
    margin-bottom: 21px;
  }
}


@media (min-width: $tablet-width) {
  .additional-item .additional-item__title {
    margin-bottom: 24px;
    text-align: center;
    max-width: 300px;
  }
}

.additional-item__description {
  margin: 0;
}

.additional-item__description--food-align br {
  display: none;
}

@media (min-width: $tablet-width) {
  .additional-item__description--food-align br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .additional-item__description--food-align br {
    display: none;
  }
}

.additional-item__description--gifts-align br {
  display: none;
}

@media (min-width: $desktop-width) {
  .additional-item__description--gifts-align br {
    display: block;
  }
}
