.additional-list {
  padding: 23px 18px 52px 18px;
}

.additional__item {
  padding-left: 48px;

  &--housing {
    background-image: url("../images/icons/icon-house.svg");
    background-repeat: no-repeat;
  }

  &--food {
    background-image: url("../images/icons/icon-food.svg");
    background-repeat: no-repeat;
  }

  &--gifts {
    background-image: url("../images/icons/icon-gifts.svg");
    background-repeat: no-repeat;
  }

  &:not(:last-child) {
    margin-bottom: 22px;
  }
}

.additional__card {
  text-align: left;
  padding-top: 8px;
}
