.advantages-item__card--order-second {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.advantages-item__photo {
  display: block;
}

@media (min-width: $tablet-width) {
  .advantages-item__photo {
    width: 512px;
  }

  &--order-first {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .advantages-item__photo {
    width: 800px;
  }
}

.advantages-item__wrapper-group {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.advantages-item--border-bottom {
  position: relative;
}

.advantages-item--border-bottom::after {
  content: "";
  position: absolute;
  width: 284px;
  height: 1px;
  bottom: 0;
  left: 18px;
  background: #d6d6d6;
}

@media (min-width: $tablet-width) {
  .advantages-item--border-bottom::after {
    display: none;
  }
}
