.advantages-item__card--order-second {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.advantages-item__photo {
  display: block;
  height: 100%;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .advantages-item__photo {
    width: 512px;
  }
}

@media (min-width: $tablet-width) {
  .advantages-item__photo--order-first {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .advantages-item__photo {
    width: 800px;
  }
}

.advantages-item__wrapper-group {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.advantages-item--border-bottom {
  position: relative;
}

.advantages-item--border-bottom::after {
  content: "";
  position: absolute;
  width: 284px;
  height: 1px;
  bottom: 0;
  left: 18px;
  background: #d6d6d6;
}

@media (min-width: $tablet-width) {
  .advantages-item--border-bottom::after {
    display: none;
  }
}

.advantages-item__title {
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .advantages-item__title {
    margin-bottom: 13px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-item__title {
    margin-bottom: 13px;
  }
}

.advantages-item__title--road-align br {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages-item__title--road-align br {
    display: block;
  }
}

.advantages-item__title--tourists-align br {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages-item__title--tourists-align br {
    display: block;
  }
}

.advantages-item__title--square-align br {
  display: none;
}

@media (min-width: $desktop-width) {
  .advantages-item__title--square-align br {
    display: block;
  }
}

.advantages-item__number {
  display: block;
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .advantages-item__number {
    margin-bottom: 23px;
  }
}

.advantages-item__description {
  margin: 0;
}

.advantages-item__description--tourists-align {
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: $tablet-width) {
  .advantages-item__description--tourists-align br {
    display: none;
  }
}

.advantages-item__description--road-align {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .advantages-item__description--road-align br {
    display: none;
  }
}
