
@media (min-width: $tablet-width) {
  .advantage-card {
    width: 256px;
  }
}

@media (min-width: $desktop-width) {
  .advantage-card {
    width: 400px;
  }
}

.advantage-card--key {
  background-color: $background-secondary;
  color: $text-secondary;
  padding: 40px 16px 39px;
}

.advantage-card--start {
  padding-top: 71px;
}


@media (min-width: $tablet-width) {
  .advantage-card--key {
    padding: 43px 30px 40px 30px;
  }
}

@media (min-width: $desktop-width) {
  .advantage-card--key {
    padding: 49px 55px 53px;
  }
}

.advantage-card__title {
  margin: 0;
  margin-bottom: 11px;
}

@media (min-width: $desktop-width) {
  .advantage-card__title {
    margin-bottom: 13px;
  }
}

.advantage-card__title--devils-bridge-align br {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantage-card__title--devils-bridge-align br {
    display: block;
  }
}

.advantage-card__title--town-align br {
  display: none;
}

@media (min-width: $desktop-width) {
  .advantage-card__title--town-align br {
    display: block;
  }
}

.advantage-card__description--devils-bridge-align br {
  display: none;
}

@media (min-width: $desktop-width) {
  .advantage-card__description--devils-bridge-align br {
    display: block;
  }
}

.advantage-card__number {
  display: block;
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .advantage-card__number {
    margin-bottom: 23px;
  }
}

.advantage-card__description {
  margin: 0;
  padding: 0;
  border: 0;
}
