.button-like {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border: none;
  color: rgba($base-support, 0.3);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $desktop-width) {
  .button-like {
    color: $background-base;
  }
}
