.button-like {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border: none;
  color: rgba($base-support, 0.3);
  padding: 0;
}

.button-like__icon {
  fill: $button-like-base;
}

@media (min-width: $desktop-width) {
  .button-like__icon {
    fill: $button-like-secondary;
  }
}

.button-like:hover .button-like__icon {
  fill: $text-additional-hover;
}

.button-like:active .button-like__icon {
  opacity: 0.6;
}
