.button {
  margin: 0;
  border: 0;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
}

.button--block {
  background-color: $background-secondary;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $text-secondary;
}

.button--block:hover {
  background-color: $button-base-hover;
}

.button--block:active {
  background-color: $button-base-active;
  color: $text-secondary-active;
}

.button--block:disabled {
  background-color: $button-base-disabled;
}

.button--link {
  background-color: $background-secondary;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $text-secondary;
}

.button--block-size-s {
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .button--block-size-s {
    font-size: 21px;
  }
}
