.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-align: center;
  color: $secondary-color;
  background-color: $secondary-background-color;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: $cursor;
}
