.card-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $title-color;
  text-align: left;
}

.card-label__name {
  margin: 0;
  margin-bottom: 2px;
}

.card-label__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $primary-color;
  text-transform: none;
  margin-bottom: 11px;
}
