.copyright__logo {
  color: $text-base;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__logo-image {
  fill: currentColor;
  margin-left: 13px;
}

.copyright__logo:hover {
  color: $text-additional-hover;
}

.copyright__logo:active {
  color: $text-base-active;
}
