.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.copyright__description {
  font: inherit;
  margin: 0;
  margin-right: 13px;
}

.copyright__logo {
  color: $text-base;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__logo:hover {
  color: $text-additional-hover;
}

.copyright__logo:active {
  color: $text-base-active;
}

