
.feedback__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .feedback__wrapper {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__wrapper {
    padding-right: 120px;
    padding-left: 120px;
  }
}

.feedback__preamble {
  padding-top: 36px;
  padding-bottom: 28px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .feedback__preamble {
    padding-top: 64px;
    padding-bottom: 102px;
    padding-left: 107px;
    padding-right: 106px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__preamble {
    padding-top: 113px;
    padding-bottom: 70px;
    padding-left: 262px;
    padding-right: 263px;
  }
}

.feedback__title {
  margin-top: 0;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .feedback__title {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__title {
    margin-bottom: 32px;
  }
}

.feedback__subtitle {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .feedback__subtitle {
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__subtitle {
    line-height: 21px;
  }
}
