
.feedback__preamble {
  padding: 36px 20px 28px 20px;
  text-align: center;
}

.feedback__title {
  margin-top: 0;
  margin-bottom: 24px;
}

.feedback__subtitle {
  margin: 0;
}

.feedback__button {
  padding: 18px 34px 14px 32px;
  width: 100%;
  margin-bottom: 3px;
}

