.feedback-form {
  padding-right: 20px;
  padding-left: 20px;
}

.feedback-form__group {
  padding-top: 24px;
  padding-bottom: 36px;

  &--bottom-short {
    padding-bottom: 24px;
  }

  &--bottom-none {
    padding-bottom: 0;
  }
}

.feedback-form__title {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form__list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  gap: 16px;
}

.feedback-form__control-label--focus-attention {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: $text-base;
}

.feedback-form__label {
  position: relative;
  display: block;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.feedback-form__field {
  margin: 0;
  width: 280px;
  padding: 16px;
  background-color: $input-base;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback-form__field:-moz-placeholder {
  color: $input-placeholder;
}

.feedback-form__control-mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: $input-base;
  top: 0;
  left: 0;
}

.feedback-form__control-mark--radio {
  border-radius: 50%;
}

.feedback-form__control-mark--checkbox {
  border-radius: 4px;
}

.feedback-form__textarea {
  margin: 0;
}

.feedback-form__textarea-field {
  border: 0;
  padding: 16px 16px 16px 16px;
  width: 100%;
  min-height: 150px;
  background-color: $input-base;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &::-moz-placeholder {
    color: $input-placeholder;
  }
}

.feedback-form__footer {
  padding-top: 56px;
  padding-bottom: 24px;
}

.feedback-form__legend {
  color: $legend;
  padding-left: 147px;
}
