.field-group {
  padding-top: 25px;
  position: relative;

  &--name {
    padding-bottom: 39px;
  }

  &--contacts {
    padding-bottom: 34px;
  }

  &--radio {
    padding-bottom: 24px;
  }

  &--checkbox {
    padding-bottom: 24px;
  }

  &--textarea {
    padding-bottom: 50px;
  }
}

.field-group::before {
  content: "";
  position: absolute;
  min-width: 320px;
  height: 1px;
  top: 0;
  left: -20px;
  background: #e5e5e5;
}


@media (min-width: $tablet-width) {
  .field-group::before {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .field-group {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .field-group {
    padding-top: 0;
    padding-bottom: 0;
  }
}


@media (min-width: $tablet-width) {
  .field-group--name {
    padding-bottom: 15px;
  }
}


@media (min-width: $tablet-width) {
  .field-group--contacts {
    padding-bottom: 15px;
  }
}


@media (min-width: $tablet-width) {
  .field-group--radio {
    margin-bottom: 49px;
  }
}

@media (min-width: $desktop-width) {
  .field-group--radio {
    margin-bottom: 57px;
  }
}

@media (min-width: $tablet-width) {
  .field-group--checkbox {
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .field-group--checkbox {
    margin-bottom: 56px;
  }
}

@media (min-width: $tablet-width) {
  .field-group--textarea {
    margin-bottom: 49px;
  }
}


.field-group__title {
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .field-group__title {
    margin-bottom: 28px;
    background-color: $background-base;
  }
}

@media (min-width: $tablet-width) {
  .field-group__title--align-contacts {
    margin-left: -39px;
  }
}

@media (min-width: $desktop-width) {
  .field-group__title--align-contacts {
    margin-left: 0;
    margin-right: 67px;
  }
}

@media (min-width: $tablet-width) {
  .field-group__title--align-name {
    margin-left: 41px;
  }
}

@media (min-width: $desktop-width) {
  .field-group__title--align-name {
    margin-left: 62px;
  }
}

.field-group__list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  gap: 16px;
}

@media (min-width: $tablet-width) {
  .field-group__list--radio {
    grid-template-columns: repeat(2, 280px);
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .field-group__list--radio {
    grid-template-columns: 280px 280px 238px;
    row-gap: 17px;
    column-gap: 28px;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 53px;
    padding-left: 53px;
  }
}

@media (min-width: $tablet-width) {
  .field-group__list--checkbox {
    grid-template-columns: repeat(2, 224px);
    column-gap: 32px;
    row-gap: 16px;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .field-group__list--checkbox {
    grid-template-columns: 172px 170px 153px 184px;
    row-gap: 31px;
    column-gap: 64px;
    justify-content: center;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 44px;
    padding-right: 44px;
  }
}


@media (min-width: $tablet-width) {
  .field-group__title--decorated-line {
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .field-group__title--decorated-line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    top: 50%;
    left: 0;
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .field-group__title--decorated-line span {
    max-width: 400px;
    position: relative;
    background-color: $background-base;
    display: inline-block;
    padding: 0 63px;
    z-index: 2;
  }
}
