.field {
  width: 280px;
}

@media (min-width: $desktop-width) {
  .field--name {
    width: 430px;
  }
}

@media (min-width: $desktop-width) {
  .field--contacts {
    width: 402px;
  }
}

.field--phone {
  position: relative;
}

.field__label {
  margin-left: 16px;
}

.field__field-input {
  margin: 0;
  width: 100%;
  padding: 12px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: 4px solid transparent;
  outline: none;
}

.field__field-input:hover {
  background: $input-base-hover;
}

.field__field-input:active {
  background: $input-secondary-active;
  border: 4px solid $input-base-hover;
}

.field__field-input:disabled {
  background: #b7b4b4;
}

@media (min-width: $desktop-width) {
  .field__field-input {
    width: 100%;
  }
}

.field__field-input:-moz-placeholder {
  color: $input-placeholder;
}
