.gallery__content {
  margin: 0;
}

.gallery__list {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}

.gallery__item {
  padding-top: 24px;
  padding-bottom: 25px;
}
