.gallery-section__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .gallery-section__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .gallery-section__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.gallery-section__preamble {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .gallery-section__preamble {
    padding-top: 66px;
    padding-bottom: 67px;
    padding-right: 95px;
    padding-left: 95px;
  }
}

@media (min-width: $desktop-width) {
  .gallery-section__preamble {
    padding: 100px 372px 65px 370px;
  }
}

.gallery-section__title {
  margin: 0;
  margin-bottom: 26px;
}

.gallery-section__subtitle {
  margin: 0;
}

.gallery-section__subtitle br {
  display: none;
}

@media (min-width: $tablet-width) {
  .gallery-section__subtitle br {
    display: block;
  }
}
