.gallery-section__wrapper {
  max-width: 280px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.gallery-section__preamble {
  padding-top: 37px;
  padding-bottom: 25px;
  text-align: center;
}

.gallery-section__title {
  margin: 0;
  margin-bottom: 26px;
}

.gallery-section__subtitle {
  margin: 0;
}
