.hashtag__link {
  text-decoration: none;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $text-base;
}

.hashtag__link:hover {
  color: $text-additional-hover;
}

.hashtag__link:active {
  color: $text-icon-active;
}

