.header {
  position: relative;
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 56px;
  }
}

.header__main-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  width: 185px;
}

@media (min-width: $tablet-width) {
  .header__main-logo {
    z-index: 3;
  }
}

.header__main-logo:hover .header__main-logo-image {
  opacity: 0.8;
}

.header__main-logo:active .header__main-logo-image {
  opacity: 0.5;
}
