.hero {
  color: $text-additional;
  background-color: $background-img;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 90px 19px 85px 19px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background-image: url("../images/divider.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    padding: 77px 154px 91px 153px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    padding: 78px 370px 90px 370px;
  }
}

.hero__slogan {
  display: block;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.hero--modified {
  color: $text-additional;
  background-color: $background-img;
  background-image: url("../images/hero-background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 52px 46px 67px 45px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .hero--modified {
    padding: 95px 155px 117px;
  }
}

@media (min-width: $desktop-width) {
  .hero--modified {
    padding: 101px 371px 120px 369px;
  }
}

.hero__slogan--abbreviated {
  display: block;
}
