.inputs-group__title {
  margin: 0;
  text-align: center;
}

.inputs-group--personal {
  padding-top: 24px;
  padding-bottom: 39px;
}

.inputs-group--contacts {
  padding-top: 24px;
  padding-bottom: 34px;
}

.inputs-group--feeling {
  padding-top: 24px;
  padding-bottom: 24px;
}

.inputs-group--emotions {
  padding-top: 24px;
  padding-bottom: 56px;
}

.inputs-group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

