.modal-failure {
  width: 320px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .modal-failure {
    width: 400px;
  }
}

.modal-failure__content {
  padding: 45px 42px 35px 41px;
}

@media (min-width: $tablet-width) {
  .modal-failure__content {
    padding: 50px 47px 49px 47px;
  }
}

@media (min-width: $desktop-width) {
  .modal-failure__content {
    padding-top: 48px;
  }
}

.modal-failure__title {
  margin-top: 0;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .modal-failure__title {
    margin-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .modal-failure__title {
    margin-bottom: 24px;
  }
}


.modal-failure__title--align br {
  display: none;
}

@media (min-width: $tablet-width) {
  .modal-failure__title--align br {
    display: block;
  }
}

.modal-failure__description {
  margin-top: 0;
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .modal-failure__description {
    margin-bottom: 46px;
  }
}


.modal-failure .modal-failure__button {
  width: 180px;
  padding: 18px 64px 14px 63px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .modal-failure .modal-failure__button {
    width: 272px;
    padding: 18px 108px 14px 107px;
  }
}
