.navigation {
  width: 100%;
  min-height: 56px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation__wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2;
}

.navigation--closed .navigation__wrapper {
  display: none;
}

.navigation--opened .navigation__wrapper {
  display: block;
}

@media (min-width: $tablet-width) {
  .navigation--closed .navigation__wrapper {
    display: block;
  }
}

.navigation--opened .navigation__wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

@media (min-width: $tablet-width) {
  .navigation--opened .navigation__wrapper::before {
    display: none;
  }
}

.navigation__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  width: 23px;
  height: 22px;
}

.navigation--closed .navigation__toggle {
  background-image: url("../images/icons/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 4px;
  background-color: transparent;
  width: 55px;
  height: 55px;
  padding: 16px;
  display: block;
}

.navigation--closed .navigation__toggle:hover {
  opacity: 0.6;
}

.navigation--closed .navigation__toggle:active {
  opacity: 0.3;
}

.navigation--opened .navigation__toggle {
  background-image: url("../images/icons/icon-closed.svg");
  background-position: center;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 55px;
  height: 55px;
  padding: 16px;
  display: block;
  z-index: 3;
}

.navigation--opened .navigation__toggle:hover {
  opacity: 0.6;
}

.navigation--opened .navigation__toggle:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .navigation .navigation__toggle {
    display: none;
  }
}

.navigation--nojs .navigation__toggle {
  display: none;
}

.navigation--nojs .navigation__wrapper {
  position: relative;
  min-height: 100%;
  display: block;
  margin-top: 96px;
}

@media (min-width: $tablet-width) {
  .navigation--nojs .navigation__wrapper {
    margin-top: 0;
  }
}

.navigation--nojs .navigation__wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

@media (min-width: $tablet-width) {
  .navigation__wrapper {
    position: relative;
    min-height: 56px;
  }
}

@media (min-width: $tablet-width) {
  .navigation--nojs .navigation__wrapper::before {
    display: none;
  }
}
