.page-footer {
  text-align: center;
}

.page-footer__wrapper {
  padding-top: 29px;
  padding-right: 80px;
  padding-bottom: 23px;
  padding-left: 84px;

  @media (min-width: $tablet-width) {
    padding: 36px 60px 36px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__hashtag {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
