.page-footer {
  padding-top: 29px;
  padding-right: 80px;
  padding-bottom: 23px;
  padding-left: 84px;
}

.page-footer__wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.page-footer__hashtag {
  margin-bottom: 34px;
}

.page-footer__social {
  margin-bottom: 40px;
}
