.page-container {
  width: 320px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
