.photo-card__name {
  margin-top: 0;
  margin-bottom: 2px;
}

.photo-card__copyright {
  margin-top: 0;
  margin-bottom: 11px;
  text-transform: none;
}

.photo-card__mark-like {
  font-weight: 700;
  color: $text-base;
}
