.photo-card__link {
  display: block;
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .photo-card__link {
    margin-bottom: 0;
  }
}

.photo-card__link:hover .photo-card__image {
  opacity: 0.8;
}

.photo-card__link:active .photo-card__image {
  opacity: 0.5;
}


.photo-card__image {
  display: block;
  height: auto;
  background-color: #f2f2f2;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .photo-card__image {
    width: 100%;
  }

  .photo-card__image--primary {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photo-card__image {
    width: 100%;
  }

  .photo-card__image--primary {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .photo-card__label {
    background-color: $background-label;
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px 20px;
    max-height: 80px;
    overflow-y: auto;
  }
}

@media (min-width: $desktop-width) {
  .photo-card__label {
    background-color: rgba($base-support, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.photo-card__like-wrapper {
  display: flex;
  align-items: flex-end;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .photo-card__like-wrapper {
    margin-bottom: 8px;
  }
}

.photo-card__name {
  margin-top: 0;
  margin-bottom: 1px;
}

@media (min-width: $desktop-width) {
  .photo-card__name {
    color: $text-secondary;
  }
}

.photo-card__copyright {
  margin-top: 0;
  margin-bottom: 11px;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .photo-card__copyright {
    margin-bottom: 0;
  }
}


@media (min-width: $desktop-width) {
  .photo-card__copyright {
    color: $text-secondary;
  }
}

.photo-card__button {
  cursor: pointer;
  display: block;
  margin-right: 12px;
}

@media (min-width: $tablet-width) {
  .photo-card__button {
    margin-right: 9px;
  }
}

.photo-card__mark-like {
  font-weight: 700;
  color: $text-base;
}

@media (min-width: $desktop-width) {
  .photo-card__mark-like {
    color: $text-secondary;
  }
}
