.search-section {
  padding: 38px 19px 49px 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 59px 155px 58px 155px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 371px;
    padding-bottom: 66px;
    padding-left: 371px;
  }
}

.search-section__title {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .search-section__title {
    margin-bottom: 33px;
  }
}

.search-section__description {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .search-section__description {
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .search-section__description {
    margin-bottom: 46px;
  }
}

.search-section__description br {
  display: none;
}

@media (min-width: $tablet-width) {
  .search-section__description br {
    display: block;
  }
}

.search-section__button {
  width: 284px;
  padding: 16px 45px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
