.selection__control-input {
  position: relative;
  display: block;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.selection__control-mark {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

.selection__control-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: $text-base;
  margin-left: 16px;
}

