.social__item {
  list-style-type: none;
}

.social__link {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-secondary;
  color: $text-secondary;
}

.social__item-image {
  fill: $background-base;
}

.social__link:hover {
  background-color: $button-base-hover;
}

.social__link:active {
  background-color: $button-base-active;
}

.social__link:active .social__item-image {
  fill: $text-secondary-active;
}
