.textarea {
  margin: 0;
}

.textarea__textarea-field {
  border: 0;
  padding: 16px 16px 16px 16px;
  width: 279px;
  min-height: 150px;
  background-color: $input-base;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &::-moz-placeholder {
    color: $input-placeholder;
  }
}

@media (min-width: $tablet-width) {
  .textarea__textarea-field {
    width: 648px;
    min-height: 160px;
  }
}

@media (min-width: $desktop-width) {
  .textarea__textarea-field {
    width: 768px;
    min-height: 160px;
    display: block;
    margin: 0 auto;
  }
}
