.textarea {
  margin: 0;
}

.textarea__textarea-input {
  padding: 13px 16px 16px 12px;
  width: 279px;
  min-height: 150px;
  background-color: $input-base;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: 4px solid transparent;

  &::placeholder {
    color: $input-placeholder;
  }
}

.textarea__textarea-input:hover {
  background: $input-base-hover;
}

.textarea__textarea-input:focus {
  background-color: $input-secondary-active;
  border: 4px solid #e5e5e5;
  outline: none;
}

.textarea__textarea-input:active {
  background-color: $input-secondary-active;
  border: 4px solid #e5e5e5;
}

@media (min-width: $tablet-width) {
  .textarea__textarea-input {
    width: 648px;
    min-height: 160px;
  }
}

@media (min-width: $desktop-width) {
  .textarea__textarea-input {
    width: 768px;
    min-height: 160px;
    display: block;
    margin: 0 auto;
  }
}
