.video-presentation__wrapper {
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .video-presentation__wrapper {
    padding: 56px 60px 40px 60px;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation__wrapper {
    padding-top: 61px;
    padding-left: 199px;
    padding-right: 201px;
    padding-bottom: 85px;
  }
}

.video-presentation__preamble {
  margin-bottom: 38px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .video-presentation__preamble {
    padding-right: 101px;
    padding-left: 102px;
    margin-bottom: 89px;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation__preamble {
    padding-right: 177px;
    padding-left: 178px;
    margin-bottom: 86px;
  }
}

.video-presentation__title {
  margin: 0;
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .video-presentation__title {
    margin-bottom: 32px;
  }
}

.video-presentation__subtitle {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .video-presentation__subtitle br {
    display: none;
  }
}

.video-presentation__video-content {
  position: relative;
}
