@media (min-width: $tablet-width) {
  .video {
    width: 100%;
    min-height: 500px;
  }
}

.video__button {
  cursor: pointer;
  display: block;
  background-image: url("../images/icons/button-play.svg");
  background-color: transparent;
  border: none;
  padding: 0;
  width: 48px;
  height: 54px;
  position: absolute;
  top: 63px;
  left: 124px;
}

@media (min-width: $tablet-width) {
  .video__button {
    top: 223px;
    left: 300px;
  }
}

@media (min-width: $desktop-width) {
  .video__button {
    left: 376px;
  }
}
