.video__preview {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.video__button {
  cursor: pointer;
  display: block;
  background-image: url("../images/icons/button-play.svg");
  background-color: transparent;
  border: none;
  padding: 0;
  width: 48px;
  height: 54px;
  position: absolute;
  top: 63px;
  left: 124px;
}

.video__button:hover {
  opacity: 0.3;
}

.video__button:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .video__button {
    top: 223px;
    left: 300px;
  }
}

@media (min-width: $desktop-width) {
  .video__button {
    left: 376px;
  }
}

.video__player {
  display: block;
  width: 100%;
  min-height: 177px;
  background-image: url("../images/catalog-photo-gallery/video-poster-sedona.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;

  @media (min-resolution: 2dppx) {
    background-image: url("../images/catalog-photo-gallery/video-poster-sedona@2x.jpg");
    background-size: 280px auto;
  }
}

@media (min-width: $tablet-width) {
  .video__player {
    min-height: 500px;
    background-image: url("../images/catalog-photo-gallery/video-poster-sedona-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../images/catalog-photo-gallery/video-poster-sedona-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .video__player {
    background-image: url("../images/catalog-photo-gallery/video-poster-sedona-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../images/catalog-photo-gallery/video-poster-sedona-desktop@2x.jpg");
      background-size: 800px auto;
    }
  }
}
