$primary-color: #333333;
$primary-background-color: #ffffff;
$secondary-color: #ffffff;
$secondary-background-color:  #81b3d2;
$additional-background-color: #eeeeee;
$cursor: pointer;
$title-color: #000000;
